{% extends "base.html" %}
{%block title%}
<title>个人信息</title>
{%endblock%}
{%block title1%}
<h3>{{stu.class_info.class_name}}班：{{stu.user_infor.realname}}<small>个人总览{%if stu.user_infor.role.role=="representative"%}({%for i in stu.representative%}{{i.subject}}\{%endfor%}课代表){%endif%}</small></h3>
{%endblock%}
{%block main%}
<div class="row">
    <div class="col-md-12">
        <div class="tabbable" id="tabs-426234">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#tab1" data-toggle="tab">作业</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab2" data-toggle="tab">测验</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#tab3" data-toggle="tab">评价</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <p>
                        <div class="row">
                            
                            <div class="col-md-2">
                                完成度
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width:{{(jobs.all()|length)/(stu.class_info.jobs|length)*100}}%" aria-valuenow="{{((jobs.all()|length)/(stu.class_info.jobs|length))*100}}%" aria-valuemin="0" aria-valuemax="100">
                                        {{(jobs.filter(job_submission.submit_time!=None).all()|length/jobs.all()|length)*100}}%
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                作业数：
                                <span class="badge badge-info">{{stu.class_info.jobs|length}}</span>
                                未完成：
                                <span class="badge badge-danger">{{jobs.filter(job_submission.submit_time==None).all()|length}}</span>
                            </div>
                            <div class="col-md-2">
                                {%if current_user.role.role=="teacher"%}
                                <a href="/representative/{{current_user.teacher.id}}-{{stu.id}}"><button class="btn btn-primary btn-sm">{%if stu.user_infor.role_id==2%}免去课代表{%else%}设为课代表{%endif%}</button></a>
                                {%endif%}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                        <th>
                                            序号
                                        </th>
                                        <th>
                                            作业名称
                                        </th>
                                        <th>
                                            学科
                                        </th>
                                        <th>
                                            发布时间
                                        </th>
                                        <th>
                                            提交时间
                                        </th>
                                        <th>
                                            评分
                                        </th>
                                        <th>
                                            评语
                                        </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for i in stu.class_info.jobs%}
                                        {%set mark =jobs.filter_by(job_id=i.id).first()%}
                                            <tr>
                                                <td>{{loop.index}}</td>
                                                <td>{{i.job_name}}</td>
                                                <td>{{i.subject}}</td>
                                                <td>{{i.publish_time}}</td>
                                                <td>
                                                    {{mark.submit_time}}
                                                </td>
                                                <td>{{mark.mark}}</td>
                                                <td>{{mark.job_assessment}}</td>
                                            </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </p>
                </div>
                <div class="tab-pane" id="tab2">
                    <p>
                        Howdy, I'm in Section 2.
                    </p>
                </div>
                <div class="tab-pane" id="tab3">
                    评价
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}