{% extends "base.html" %}
{%block title%}
<title>人员管理</title>
{%endblock%}
{%block title1%}<h4>用户信息</h4>{%endblock%}</span>
{% from 'bootstrap/table.html' import render_table %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/utils.html' import render_messages %}
{%block main%} 
<div class="container-fluid">
    <div class="row"><div class="col-md-12">{{render_messages()}} </div></div>  
    <div class="row">
    <div class="btn-group fixed-bottom" role="group">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        个别添加教师
        </button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
        批量添加教师
        </button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
        批量添加学生（分班）
        </button>
        
    </div>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">个别添加教师</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{render_form(u,form_type="basic")}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                        
                    </div>
                </div>
            </div>
        </div>

       

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">批量添加学生（分班）</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <a href="/static/file/add_students.xlsx">点击下载模板文件</a>
                        {{render_form(us,form_type="basic")}}	
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        
                    </div>
                </div>
            </div>
        </div>	                                                      
                                                           
                                               												
        

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">批量添加教师</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <a href='/download/add_teacher.xlsx'>点击下载模板文件</a>
                        {{render_form(us1,form_type="basic")}}	
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        
                    </div>
                </div>
            </div>
        </div>                                                        			
                                                            
                                                
        <div class="col-md-12">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <td>
                        序号
                    </td>
                    <th>
                        用户名
                    </th>
                    <th>
                        真实姓名
                    </th>
                    <th>
                        角色
                    </th>
                    <th>
                        电话号码
                    </th>
                    <th>
                        身份证号
                    </th>
                    <th>
                        性别
                    </th>
                    <th>
                        登录时间
                    </th>
                    <th>
                        状态
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
            </thead>
            <tbody>
                {%for j in user%}
                <tr>										
                    <td>
                        {{ loop.index + pagination.skip }}
                    </td>
                    <td>
                        {{j.username}}
                    </td>
                    <td>
                        <a >{{j.realname}}</a>
                    </td>
                    <td>
                        {{j.role.role}}
                    </td>
                    <td>
                        {{j.phone_number}}
                    </td>
                    <td>
                        {{j.id_number}}
                    </td>
                    <td>
                        {{j.gender}}
                    </td>
                    <td>
                        {{j.login_time}}
                    </td>
                    <td>
                        {{j.status}}
                    </td>
                    <td>
                        {%if j.role.has_permission(1)%}<a href="/manage/teacher/{{j.id}}"><input type="button"  class="btn-group-sm btn-primary" value="工作安排"></a>{%endif%}
                        <input type="button"  class="btn-group-sm btn-primary" value="状态设置">
                       <button class="btn-primary btn-group-sm"  onclick="reset_password({{j.id}})">重置密码</button></a>
                    </td>	
                </tr>
                {%endfor%}
            </tbody>
        </table>  
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        {{ pagination.links }}
        </div>
    </div>
</div>     
<script src="/static/build/js/jquery.min.js"></script>  
<script type="text/javascript">
    function reset_password(id){
       

    $.ajax({
      url: '/auth/reset/', // 替换为你的API接口URL
      type: 'POST', // 请求类型
      
      data: {id: id,'csrf_token':'{{ csrf_token() }}'}, // 发送的数据
      
      success: function(data) {
        // 请求成功后的处理逻辑
        alert(data);
      },
      error: function(data) {
        // 请求失败后的处理逻辑
      console.log("密码修改失败，请联系管理员");
      }
    });
    }

</script>
{%endblock%}