<!DOCTYPE html>
<html>
<body>
<div class="grid-item">
<div class="col-12" >
<h1>摄像头监视器</h1>
</div>
<div class="col-12" >
<select  class="form-select" id="videoSource">

</select>
</div>
<div class="col-12" >
<video autoplay="true" id="videoElement"></video>
</div>
</div>



<script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
<script src="https://unpkg.com/peerjs@1/dist/peerjs.min.js"></script>
<script>
// Add missing import statement


window.onload = function() {
var video = document.querySelector('video');
var canvas = document.createElement('canvas');
var select = document.querySelector('#videoSource');
var socket = io.connect();

// Declare hasVideoInput variable
var hasVideoInput = false;

navigator.mediaDevices.enumerateDevices()
  .then(function(devices) {
    devices.forEach(function(device) {
      if (device.kind === 'videoinput') {
        var option = document.createElement('option');
        option.value = device.deviceId;
        option.text = device.label || 'camera ' + (select.length + 1);
        select.appendChild(option);
        hasVideoInput = true; // Set hasVideoInput to true if video input device is found
      }
    });
     if (!hasVideoInput) {
      
      alert( '没有找到摄像头');
     
    } else {
      select.onchange();
    }
  })
  .catch(function(err) {
    console.log('An error occurred: ' + err);
  });

select.onchange = function() {
  var deviceId = select.value;
  navigator.mediaDevices.getUserMedia({ video: { deviceId: deviceId }, audio: false })
    .then(function(stream) {
      video.srcObject = stream;
      video.play();
      setInterval(function() {
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
        var data = canvas.toDataURL('image/jpeg');
        socket.emit('image', data);
      }, 1000 / 30);  // 每秒30帧
    })
    .catch(function(err) {
      console.log('An error occurred: ' + err);
    });
};
};
</script>

</body>
</html>