{% extends "base.html" %}
{%block title%}<title>{{class_.class_name}}{{subject}}作业统计</title>{%endblock%}
{%block main%}
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                序号
            </th>
            <th>
                姓名
            </th>
            <th>
                学科
            </th>
            <th>
                作业数量
            </th>
            <th>
                未提交
            </th>
            <th>
                平均分
            </th>
        </tr>
    </thead>
</thead>
    <tbody>

       {%for index in statistics.index%}

        <tr>
            <td>
                {{ loop.index + pagination.skip }}
            </td>
            <td>
                {{statistics.at[index,"姓名"]}}
            </td>
            <td>
                <a href="">{{statistics.at[index,"学科"]}}</a>
            </td>
                <td>                   
                    {{statistics.at[index,"作业数量"]}}
                </td>
                <td>
                {{statistics.at[index,"未提交"]}}
                    
                </td>
                <td>
                    {{statistics.at[index,"平均分"]}}
                </td>
                 
        </tr>
        {%endfor%}
    </tbody>
</table>
{{pagination.links}}


{%endblock%}
