{% extends "base.html" %}

{%block title%}

<title>{{class_name}} 作业《{{dict["name"]}}》详情</title>
{%endblock%} 
{% block main%}

<script src={{url_for('static',filename="build/js/echarts.min.js")}}></script>

<div class="container-fluid ">
<nav id="navbar-example2" style="position: fixed; left: 0; right: 0; bottom: 0; margin-bottom: 0;"  class="navbar bg-body-tertiary px-3 mb-3 fixed-bottom bg-dark" data-bs-theme="dark">
  <a class="navbar-brand text-white" href="#" id="back-to-top">回到页首</a>
  <ul class="nav nav-pills"> 
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading1">各班统计对比图</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading2">班级学生作业详情</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading3">各小题答题统计</a>
    </li>
  </ul>
</nav>

  <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
    <!--以下为bootstrap card-->
    <div class="card shadow"  id="scrollspyHeading1">
      <div class="card-header">
        各班对比
      </div>
      <div class="card-body">
        {{ charts | safe }} 
      </div>
    </div>  
    <br> 
    <div class="card shadow" id="scrollspyHeading2">
      <div class="card-header">
      <div class="row">
        <div class="col-1">
          <label for="select">选择班级:</label>
        </div>
        <div class="col-1">
          <select class="form-select" id="class-select">
              {% for cls in classes_ %}
                  <option value="{{ cls.class_info.id }}">{{ cls.class_info.class_name }}</option>
              {% endfor %}
          </select>
        </div>
        <div class="col-1">
          <label for="mod">显示模式:</label>
        </div>
        <div class="col-1">
          <select class="form-select" id="mod">       
                  <option value="0">排名模式</option>
                  <option value="1">防作弊模式</option>       
          </select>
        </div>

        <div class="col-8" id="infor">
          <span class="d-block p-2 bg-primary text-white"> 《{{dict["name"]}}》 <small>未交：{{dict.n_sub}}人| 作业总分：{{dict["sum"]}}   | 平均分：{%if j_c.average%}{{j_c.average|round(2)}}{%endif%}| 最高分：{{j_c.max}} | 最低分：{{j_c.min}} | 平均得分率：{{(j_c.average/dict["sum"]*100)|round(2)  }}%</small></span>
        </div>
      </div>
      </div>
      <div class="card-body">
        <!--带有水平和垂直滚动条的表格，当表格内容超出页面内容时，出现滚动条-->
          <div class="table-responsive">
            <table class="table table-striped table-bordered" id="table">
                <thead>
                    <tr>
                        <th>
                            序号
                        </th>
                        <th>
                            学号
                        </th>
                        <th>
                            姓名
                        </th>
                        {%for i in range(dict['select'])%}
                        <td>{{i+1}}</td>
                        {%endfor%}
                        <th>
                            选择题得分
                        </th>
                        <th>
                            填空题得分
                        </th>
                        <th>
                            总分
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {%for i in df.index%}
                    <tr>
                        <td>
                          {{ loop.index}}
                        </td>
                        <td>
                          <a href="{{ url_for('static', filename='job_readed/'+dict["id"]|string+'/'+js[i][0]|string+'.jpg') }}">{{js[i][0]}}</a>
                        </td>
                        <td>
                        {{js[i][1]}}
                        </td>
                        {%for j in range(dict['select'])%}
                        
                        <td {%if js[i][j+2].answer==answers[j]%}style="background-color: #8aff8a;"{%elif not js[i][j+2]%}{%else%}style="background-color: #ff6868;"{%endif%}>{%if js[i][j+2]%}{{js[i][j+2].answer}}{%endif%}</td>
                        {%endfor%}           
                        <td>
                            {%if js[i][-3]%}{{js[i][-3]}}{%endif%}
                        </td>    
                        </td>
                        <td>
                            {%if js[i][-2]!=None%}{{js[i][-2]}}{%endif%}
                        </td>
                        <td>
                          {%if js[i][-1]!=None%}{{js[i][-1]}}{%endif%}
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
          </div>
          <div id="heatmap">
          {{heat|safe}}
          </div>
      </div>
    </div>
    <br>
  <div class="card shadow" id="scrollspyHeading3">
    <div class="card-header">
      <div class="row g-4 align-items-center" >
          <div class="col-1">
              <label for="select">选择班级:</label>
          </div>
          <div class="col-1">
              <select class="form-select" id="class1-select">
              <option value="0">全校</option>
              {% for cls in classes_ %}
              <option value="{{ cls.class_info.id }}">{{ cls.class_info.class_name}}</option>
              {% endfor %}
              </select>
          </div>
          <div class="col-md-10" ></div>
      </div>
    </div>
    <div class="card-body">               
        <div class="row" id="bar_charts" style="width:100;height:auto"></div>
    </div>
  </div>
</div>
<script src={{url_for('static',filename="assets/js/jquery.min.js")}}></script>

<script>
$(document).ready(function() {
    // 页面载入时获取初始数据
    getData();
    // 监听班级下拉框变化事件
    $("#class1-select").on("change", function() {
        getData();
    });
    function getData() {
        // 获取选中的班级ID
        var class_id = $("#class1-select").val();
        // 发送ajax请求
        $.ajax({
            type: "POST",
            url: "/job/question_statistics/",
            data: {
                job_id:{{dict["id"]}},
                class_id: class_id,
                'csrf_token':'{{ csrf_token() }}',
            },
            success: function (data) {
                 $('#bar_charts').empty();
                    var barHtmlList=JSON.parse(data)
                    for (var i = 0; i < barHtmlList.length; i++) {
                        var barHtml = barHtmlList[i];
                        var $div = $("<div ></div>").addClass('col-md-2').appendTo($('#bar_charts'));
                        $div.html(barHtml);
        }  
           window.addEventListener('resize', function() {
             var parents= document.getElementsByClassName("col-md");
                for(i = 0;i<parents.length;i++){        
                    var chart = echarts.getInstanceByDom(parents[i]);
                    
                    chart.resize();
                    }
      });
            },
                error: function (xhr, status, error) {
                console.error(error);
                }
                });
}
});

$(document).ready(function() {
  gettable();
  });
$("#class-select").change(function(event) {
  gettable()
        });
$("#mod").change(function(event) {
  gettable()
});
  function gettable(){         
        // 获取选中的班级ID
        var class_id = $("#class-select").val();
        var mod=$("#mod").val();
        
        // 发送ajax请求
        $.ajax({
            type: "POST",
            url: "/job/job_info/{{dict["id"]}}",
            data: {
                class_id: class_id,
                job_id:{{dict["id"]}},
                mod:mod,
                'csrf_token':'{{ csrf_token() }}',
            },
            success: function(response) {
                 $("#table").html($(response).find("#table").html());
                 $("#infor").html($(response).find("#infor").html());
                  $("#heatmap").html($(response).find("#heatmap").html());

            },
            error: function(error) {
                console.log(error);
            }
        });}
document.getElementById("back-to-top").addEventListener("click", function(event) {
    event.preventDefault(); // 阻止默认的链接行为
    window.scrollTo({ top: 0, behavior: "smooth" }); // 平滑滚动到顶部
  }); 


</script>
{%endblock%}