{% extends "base.html" %}
{%block title%}<title>作业分析</title>{%endblock%}
{%block main%}
<link rel="stylesheet" href={{url_for("static",filename="bootstrap-icons-1.10.5/font/bootstrap-icons.css")}}>
<div class="container-fluid">
  <!--以下为时间选择器-->
    <div class="row">
        <div class="col-md-4">
            <label for="start-date" class="form-label">请选择开始日期</label>
            <input type="date" id="start-date" class="form-control">
        </div>
        <div class="col-md-4">
            <label for="end-date" class="form-label">请选择结束日期</label>
            <input type="date" id="end-date" class="form-control" >
        </div>
        <div class="col-md-4">
           
        </div>
    </div>
    <br>
    <div class="row">
        <!-- 第一个区域 -->
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-body" id="bar" style="align-self: center;">
                    {{chart|safe}}                    
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-body " style="align-self: center">
                    <!--右上角有一个select，用于选择班级-->
                    <div class="row">
                        <div class="col-md-9">
                        </div>
                        <div class="col-md-2 ">
                            <label for="class" class="form-label">请选择班级</label>
                            <select class="form-select" id="class">
                                <option selected value="">全部</option>
                                {%for i in classes%}
                                <option value="{{i.id}}">{{i.class_name}}</option>
                                {%endfor%}
                            </select>
                        </div>
                        <div class="col-md-1 d-flex justify-content-bottom " style="align-self: right;" >
                            
                            
                           <button type ='button' class="btn  text-nowrap btn-sm visually-hidden" id="btn1" ><i class="bi-file-earmark-person" style="font-size: 1rem; ">学生个人作业统计</i></button>
                        </div>
                        
                    </div>
                    <div class="row" id="line" >
                     {{chart2|safe}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <script>
    let today = new Date();
  // 格式化为yyyy-mm-dd的字符串
  let todayStr = today.getFullYear() + "-" + (today.getMonth() + 1).toString().padStart(2, "0") + "-" + today.getDate().toString().padStart(2, "0");
  // 将当前日期赋值给日期选择器
  document.getElementById("end-date").value = todayStr;
    // 将当前日期的前7天赋值给日期选择器
    today.setDate(today.getDate() - 7);
    todayStr = today.getFullYear() + "-" + (today.getMonth() + 1).toString().padStart(2, "0") + "-" + today.getDate().toString().padStart(2, "0");
    document.getElementById("start-date").value = todayStr;
    // 为日期选择器绑定change事件，当日期发生变化时，使用ajax技术，用post方法向服务器发送开始时间start和和结束时间end，获取数据
    


</script>
<script src={{url_for('static',filename="build/js/echarts.min.js")}}></script>
<script type="text/javascript" src="/static/build/js/jquery.min.js"></script>
<script>
    
// Bind change event to date pickers
$('#start-date, #end-date').change(function() {
    // Get selected start and end dates
    let startDate = $('#start-date').val();
    let endDate = $('#end-date').val();
    let id=$('#class').val();
    //csrf_token
    let csrf_token = "{{ csrf_token() }}";
    // Send POST request to server with start and end dates
    $.ajax({
        type: 'POST',
        url: '/job/job_analyse',
        headers: {
            'X-CSRFToken': csrf_token
        },
        data: {
            start: startDate,
            end: endDate,
            id:id
        },
        success: function(data) {
           //后台返回的是网页，将网页中的id为bar的div的内容替换为后台返回的内容中id为bar的div的内容
            $('#bar').html($(data).find('#bar').html());
            $('#line').html($(data).find('#line').html());
            

        },
        error: function() {
            console.log('Error retrieving data');
        }
    });
});
//班级选择器，当选择班级时，向后台发送班级id，后台返回的是网页，将网页中的id为line的div的内容替换为后台返回的内容中id为line的div的内容
$(document).on('change', "#class", function(){
    let startDate = $('#start-date').val();
    let endDate = $('#end-date').val();
    let id=$('#class').val();
    let csrf_token = "{{ csrf_token() }}";
    //如果id的值为空，则删除btn对象的的visually-hidden类，否则添加visually-hidden类
    if(id==''){
        $('#btn1').addClass('visually-hidden');        
    }else{
        $('#btn1').removeClass('visually-hidden');
         //给btn1对象添加onclick属性，当点击btn时，跳转到job/class/id页面
        $('#btn1').attr('onclick',"location.href='/job/class/"+id+"'");
    }
    $.ajax({
        type: 'POST',
        url: '/job/job_analyse',
        headers: {
            'X-CSRFToken': csrf_token
        },
        data: {
            start:startDate,
            end:endDate,
            id:id
        },
        success: function(data) {
            $('#line').html($(data).find('#line').html());
        },
        error: function() {
            console.log('Error retrieving data');
        }
    });
})

</script>
{%endblock%}