{% extends "base.html" %}
{%block title%}
<title>{{class_name}} 作业《{{dict["name"]}}》详情</title>
{%endblock%} 
{% block main%}
<script src={{url_for('static',filename="build/js/echarts.min.js")}}></script>
<div class="modal" id = myModal tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
        
      </div>
    </div>
  </div>
</div>

<div class="container-fluid ">
      <nav id="navbar-example2" class="navbar bg-body-tertiary px-3 fixed-bottom bg-dark" data-bs-theme="dark">
        <a class="navbar-brand text-white" href="#" id="back-to-top">回到页首</a>
        <ul class="nav nav-pills">
        
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading1">各班统计对比图</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading2">班级学生作业详情</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading3">各小题答题统计</a>
          </li>
        </ul>
      </nav>
      <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
        <!--以下为bootstrap card-->
        <div class="card shadow"  id="scrollspyHeading1">
          <div class="card-header">
            各班对比
          </div>
          <div class="card-body">
            {{ charts | safe }} 
          </div>
        </div>  
        <br> 
        <div class="card shadow" id="scrollspyHeading2">
          <div class="card-header">
          <div class="row">
            <div class="col-1">
              <label>选择班级:</label>
            </div>
            <div class="col-1">
              <select class="form-select" id="class-select">
                  {% for cls in classes_ %}
                      <option value="{{ cls.class_info.id }}">{{ cls.class_info.class_name }}</option>
                  {% endfor %}
              </select>
            </div>
            <div class="col-1">
              <label for="mod">显示模式:</label>
            </div>
            <div class="col-1">
              <select class="form-select" id="mod">       
                      <option value="0">排名模式</option>
                      <option value="1">防作弊模式</option>       
              </select>
            </div>

            <div class="col-8" id="infor">
              <span class="d-block p-2 bg-primary text-white"> 《{{dict["name"]}}》 <small>未交：{{dict.n_sub}}人| 作业总分：{{dict["sum"]}}   | 平均分：{%if j_c.average%}{{j_c.average|round(2)}}{%endif%}| 最高分：{{j_c.max}} | 最低分：{{j_c.min}} | 平均得分率：{{(j_c.average/dict["sum"]*100)|round(2)  }}%</small></span>
            </div>
          </div>
          </div>
          <div class="card-body">
            <!--带有水平和垂直滚动条的表格，当表格内容超出页面内容时，出现滚动条,单元格内容水平显示-->
              <div class="table-responsive"  style="height: 100vh; overflow: auto;">
                <table class="table table-striped table-bordered" id="table">
                    <thead>
                        <tr>
                            <th style="position: sticky; top: 0; background: white;white-space: nowrap;text-align: center;">
                                序号
                            </th>
                            <th style="position: sticky; top: 0; background: white;white-space: nowrap;text-align: center;">
                                学号
                            </th>
                            <th style="position: sticky; top: 0; background: white;white-space: nowrap;text-align: center;">
                                姓名
                            </th>
                            <th style="position: sticky; top: 0; background: white;white-space: nowrap;text-align: center;">
                                总分
                            </th>
                            <th style="position: sticky; top: 0; background: white;white-space: nowrap;text-align: center;">
                                选择
                            </th>
                            {%for i in dict['select'].keys()%}
                            <th style="position: sticky; top: 0; background: white;">{{i}}</th>
                            {%endfor%}
                            {%for i in dict['no_select'].keys()%}
                            <th style="position: sticky; top: 0; background: white;">{{i}}</th>
                            {%endfor%}
                            
                            <th style="position: sticky; top: 0; background: white;">
                                填空
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {%for key,value in js.items()%}
                        <tr>
                            <td>
                              {{ loop.index}}
                            </td>
                            <td style="text-align: center;white-space: nowrap;">
                              <a href="{{ "/job/show_student_card/%s_%s" % (dict["id"], value['number']) }}">{{value['number']}}</a>
                            </td>
                            <td style="text-align: center;white-space: nowrap;">
                            {{value['name']}}
                            </td>
                            <td>
                              {%if value['mark']!=None%}{{value['mark']}}{%endif%}
                            </td>
                            <td>
                                {%if value['select_mark']%}{{value['select_mark']}}{%endif%}
                            </td>   
                            {%for j in dict['select'].keys()%}                            
                            <td {%if value[j]==dict['select'][j]%}style="background-color: #8aff8a;"{%elif not value[j]%}{%else%}style="background-color: #ff6868;"{%endif%}>{%if value[j]%}{{value[j]}}{%endif%}
                            </td>
                            {%endfor%}
                            {%for j in dict['no_select'].keys()%}                          
                            <td onclick="showAnswer('{{value['number']}}',{{j}})" style="{%if value[j]%}{%if value[j]/dict['no_select'][j]["分值"]>0.9%}background-color: #8aff8a;{%elif value[j]/dict['no_select'][j]["分值"]>0.6%}background-color: #fffa68;{%elif value[j]/dict['no_select'][j]["分值"]>0.3%}background-color: #ff9a68;{%else%}background-color: #ff6868;{%endif%}{%endif%}">{%if value[j]%}{{value[j]}}{%endif%}
                            </td>
                            {%endfor%}
                             
                            <td>
                                {%if value['complete_mark']!=None%}{{value['complete_mark']}}{%endif%}
                            </td>
                            
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
              </div>
              <div id="heatmap">
              {{heat|safe}}
              </div>
          </div>
        </div>
        <br>
      <div class="card shadow" id="scrollspyHeading3">
        <div class="card-header">
          <div class="row g-4 align-items-center" >
              <div class="col-1">
                  <label for="select">选择班级:</label>
              </div>
              <div class="col-1">
                  <select class="form-select" id="class1-select">
                  <option value="0">全校</option>
                  {% for cls in classes_ %}
                  <option value="{{ cls.class_info.id }}">{{ cls.class_info.class_name}}</option>
                  {% endfor %}
                  </select>
              </div>
              <div class="col-md-10" ></div>
          </div>
        </div>
        <div class="card-body">               
            <div class="row" id="bar_charts" style="width:100;height:auto"></div>
        </div>

</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

<script>
//发送ajax请求获取答案图片，函数showAnswer参数为学号和题号，类型为字符串
function showAnswer(stu,question){

  csrf_token="{{ csrf_token() }}";
  $("#myModal").modal("show");
  $(".modal-title").empty();
  //使用ajax,向job/cpl_judge/发送请求获取答案图片
    $.ajax({
                url: "/job/cpl_judge/",    // 提交到controller的url路径 
                headers:{"X-CSRFToken":csrf_token},             //提交给flask后台必须有csrf认证
                type: "POST",    // 提交方式                
                data: {'id':{{dict["id"]}},
                        'stu':stu,
                        'title_number':question},  // data为String类型，必须为 Key/Value 格式。                
                success: function (response, status, xhr) { 
                    
                    var img = $("<img>").attr("src", "data:image/png;base64," + response.image);
                    img.attr("class","img-fluid") 
                    img.attr("alt","Image")
                    $(".modal-body").empty();
                    $(".modal-body").append(img);
                    $(".modal-title").empty();
                    $(".modal-title").append("姓名："+response.name+"  题号："+question);
                   },
                error: function(xhr, status, error) { console.log("Error: " + error); }     
            });

} 
$(document).ready(function() {
    // 页面载入时获取初始数据
    getData();
    // 监听班级下拉框变化事件
    $("#class1-select").on("change", function() {
        getData();
    });
    function getData() {
        // 获取选中的班级ID
        var class_id = $("#class1-select").val();
        // 发送ajax请求
        $.ajax({
            type: "POST",
            url: "/job/question_statistics/",
            data: {
                job_id:{{dict["id"]}},
                class_id: class_id,
                'csrf_token':'{{ csrf_token() }}',
            },
            success: function (data) {
                 $('#bar_charts').empty();
                    var barHtmlList=JSON.parse(data)
                    for (var i = 0; i < barHtmlList.length; i++) {
                        var barHtml = barHtmlList[i];
                        var $div = $("<div ></div>").addClass('col-md-2').appendTo($('#bar_charts'));
                        $div.html(barHtml);
        }  
           window.addEventListener('resize', function() {
             var parents= document.getElementsByClassName("col-md");
                for(i = 0;i<parents.length;i++){        
                    var chart = echarts.getInstanceByDom(parents[i]);                    
                    chart.resize();
                    }
      });
            },
                error: function (xhr, status, error) {
                console.error(error);
                }
                });
}
gettable()
});


$("#class-select").change(function(event) {
  gettable()
        });
$("#mod").change(function(event) {
  gettable()
});
  function gettable(){         
        // 获取选中的班级ID
        var class_id = $("#class-select").val();
        var mod=$("#mod").val();
        
        // 发送ajax请求
        $.ajax({
            type: "POST",
            url: "/job/job_info/{{dict["id"]}}",
            data: {
                class_id: class_id,
                job_id:{{dict["id"]}},
                mod:mod,
                'csrf_token':'{{ csrf_token() }}',
            },
            success: function(response) {
                 $("#table").html($(response).find("#table").html());
                 $("#infor").html($(response).find("#infor").html());
                  $("#heatmap").html($(response).find("#heatmap").html());

            },
            error: function(error) {
                console.log(error);
            }
        });}
document.getElementById("back-to-top").addEventListener("click", function(event) {
    event.preventDefault(); // 阻止默认的链接行为
    window.scrollTo({ top: 0, behavior: "smooth" }); // 平滑滚动到顶部
  }); 


</script>
{%endblock%}