{% extends "base.html" %}
{%block head%}
{%block title%}<title>阅卷报告</title>{%endblock%}     
{%endblock%}
{% block main%}
<div class="container-fluid">
    
    <!--以下为阅卷报告，在card上显示-->
    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-title"><h4 style="text-align:center">阅卷报告</h4> </div>
                <div class="card-body">
                    <div class="row">
                    <div class="col"><h6 style="color:#9e9e9e">作业名称：</h6><h4><strong id="name"></strong></h4></div>
                        <div class="col"><h6 style="color:#9e9e9e">本次阅卷：</h6><h4><strong id="s_num"></strong></h4></div>
                          
                    </div>
                    <div class="row">
                        <div class="col"><h6 style="color:#9e9e9e">总共阅卷：</h6><h4><strong id="t_num"></strong></h4></div>
                        <div class="col"><h6 style="color:#9e9e9e">异常卷：</h6><h4><strong id="d_num"></strong></h4></p></div>    
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    <!--以下为异常卷列表-->
    <br>
    <div class="row">
        <div class="col-md-12">
        <div class="card shadow">
            <div class="card-body">
                <table class="table table-striped" style="text-align:center">
                    <thead class="table-primary">
                        <tr>
                            <th>序号</th>
                            <th>异常原因</th>
                            <th>试卷</th>
                            <th>学号</th>
                            <th>处理</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
            </div>
        </div>    
        </div>
    </div>
</div>
<script  src="/static/build/js/jquery.min.js"></script>
<script> 
//页面载入时运行
    $(document).ready(function(){
                var id={{id}};
                //将后台传来的jsonify化的字典数据转化为js字典
                var data=JSON.parse('{{data|tojson|safe}}');
                refresh_table(data,id);
            }
        );
    function refresh_table(data,id){
        var s_num=document.getElementById("s_num");
        var d_num=document.getElementById("d_num");
        var t_num=document.getElementById("t_num");
        var name=document.getElementById("name");
        name.innerHTML=data["name"];
        s_num.innerHTML=data["s_num"];
        d_num.innerHTML=data["d_num"];
        t_num.innerHTML=data["total"];
        var tbody=document.getElementById("tbody"); 
        tbody.innerHTML="";                   
        for(i=0;i<data["d_num"];i++){
            tr=document.createElement("tr");
            td=document.createElement("td");
            td.innerHTML=i+1;
            tr.appendChild(td);
            td=document.createElement("td");
            td.innerHTML=data["d_list"][i][1];
            tr.appendChild(td);
            td=document.createElement("td");
            a=document.createElement("a");
            a.href="/static/job/abnormal_paper/"+String(id)+"/"+String(data["d_list"][i][1]);
            a.innerHTML=data["d_list"][i][2];
            td.appendChild(a);
            tr.appendChild(td);
            td=document.createElement("td");
            td.innerHTML=data["d_list"][i][3];
            tr.appendChild(td); 
            td = document.createElement("td");
            //按钮用于处理异常卷，点击该按钮，跳转到处理异常卷的页面
            button = document.createElement("button");
            button.className = "btn btn-primary";
            button.type = "button";
            button.innerHTML = "处理";
            var url="/job/abnormal/"+String(id)+":"+data["d_list"][i][0];
            console.log(url);
            //给按钮添加点击事件：点击按钮，跳转到处理异常卷的页面
            button.onclick = (function(url) {
                return function() {
                    window.location.href = url;
                };
                })(url);//这里的url是一个参数，需要用闭包来传递，否则会出错
            td.appendChild(button);
            tr.appendChild(td);
            tbody.append(tr);
        }
    }
</script>
{%endblock%}         
