{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_field %}
{%block head%}
    <div class="row ">
        <div class="col-md-12 " >
            <span class="d-block p-2 bg-primary text-white">{%block title1%}<h3>作业管理：<small>发布作业{{jobs|length}}个</small></h3>{%endblock%} </span>            
        </div>
        <div class="col-md-4">
            <a id="modal-344280" href="#modal-container-344280" role="button" class="btn btn-outline-success" data-toggle="modal">作业发布</a>
            <div class="modal fade" id="modal-container-344280" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel">
                                {%if current_user.role.role=="teacher"%}
                                {{current_user.teacher.subject}}作业发布
                                {%elif current_user.role.role=="representative"%}
                                {{current_user.student.representative.first().subject}}作业发布
                                {%endif%}
                            </h5> 
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">  <!时间选择器，使用tempus Dominus实现：https://getdatepicker.com/5-4/>
                            <form method="post" onsubmit ="return check()" >
                            {{p.csrf_token}}
                            {{render_field(p.job_name)}}   
                            上交截止日期
                            <input type="text"  class="form-control datetimepicker-input" name="time" id="datetimepicker5" data-toggle="datetimepicker" data-target="#datetimepicker5"/>
                            <br>
                            请选择班级
                            <br>
                                <div class="form-check form-check-inline">
                                    {%if current_user.role.role=="teacher"%}
                                        {%for i in current_user.teacher.teaching_information%}
                                            <input class="form-check-input" type="checkbox" name="cla" value="{{i.class_info.id}}" id="checkbox-{{i.class_info.id}}" checked>
                                            <label class="form-check-label" for="checkbox-{{i.id}}">
                                                {{i.class_info.class_name}}
                                            </label> 
                                        {%endfor%}
                                    {%elif current_user.role.role=="representative"%}
                                            <input class="form-check-input" type="checkbox" name="cla" value="{{current_user.student.class_info.id}}" id="checkbox" checked>
                                            <label class="form-check-label" for="checkbox">
                                                {{current_user.student.class_info.class_name}}
                                            </label>
                                    {%endif%}
                                </div>
                            <br>
                            <script>
                                $(function () {
                                    $('#datetimepicker5').datetimepicker({locale: 'zh-cn'});
                                });
                                function check(){
                                    var timepicker=document.getElementById("datetimepicker5")
                                    if(timepicker.value=="" || timepicker.value==null){
                                        alert("截止日期输入项不能为空");
                                        return false;
                                    }
                                    return true;
                                }
                            </script>
                            <br>
                                <button type="submit" name="submit1" class="btn btn-primary">发布作业</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                关闭
                            </button>
                        </div>
                    </div>
                </div>
            </div> 
            <button class="btn btn-outline-success">班级统计</button>
            <button class="btn btn-outline-success">班级统计</button>
        </div>
    </div>
    <!以下为tempus dominus时间选择器的js和css引用>
    <script type="text/javascript" src="/static/build/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/build/js/moment-with-locales.js"></script>
    <script type="text/javascript" src="/static/build/js/tempusdominus-bootstrap-4.min.js" ></script>                                           
    <link rel="stylesheet" href="/static/build/css/tempusdominus-bootstrap-4.min.css"/>		
{%endblock%}
{% block main%}
<div class="row">
    <div class="col-md-12">
        {%if current_user.role.role!="admin"%}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            序号
                        </th>
                        <th>
                            作业名称
                        </th>
                        <th>
                            班级
                        </th>
                    
                        <th>
                            发布时间
                        </th>
                        <th>
                            截止时间
                        </th>
                        
                        <th>
                            发布者
                        </th>
                        <th>
                            完成率
                        </th>
                        <th>
                            批改情况
                        </th>
                        <th>
                        平均分
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody>                
                    {%for i in jobs%}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{i.job_name}}</td>
                        <td>{{i.class_info.class_name}}</td>
                        <td>{{i.publish_time}}</td>
                        <td>{{i.deadline}}</td>
                        <td>{{i.user.realname}}</td>
                        <td><div class="progress">
                            <div class="progress-bar bg-info" style="width:{%if i.job_submission.all()|length%}{{(i.job_submission.filter(job_submission.submit_time !=None).all()|length/i.job_submission.all()|length*100)|round(2)}}{%else%}0{%endif%}%">{%if i.job_submission.all()|length%}{{(i.job_submission.filter(job_submission.submit_time !=None).all()|length/i.job_submission.all()|length*100)|round(2)}}{%else%}0{%endif%}%</div>
                        </div>
                        </td>
                        <td>
                            {{i.job_submission.filter(job_submission.submit_time!=None).filter(job_submission.mark==None).all()|length}}人未评价
                        </td>
                        <td>
                          {{dic[i.id]}}
                        </td>	
                        <td>
                            <button id="modal-{{i.id}}" href="#modal-container-{{loop.index}}" role="button" class="btn-group-sm btn-primary" data-toggle="modal">提交作业</button>
                    
                    <div class="modal fade" id="modal-container-{{loop.index}}" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <form method="post">
                            {{p.csrf_token}}
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        
                                        <h5 class="modal-title" id="myModalLabel">
                                            选择作业上交同学名单
                                        </h5> 
                                        <button type="button" class="close" data-dismiss="modal">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {%for j in i.class_info.student%}
                                        {%if job_submission.query.filter(job_submission.job_id==i.id).filter(job_submission.student==j.id).first().submit_time==none%}
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="checkbox" name="stu" value="{{i.id}}-{{j.id}}" id="checkbox-{{j.id}}" checked>
                                            <label class="form-check-label" for="checkbox-{{j.id}}">
                                                {{j.name.ljust(6,"—")}}
                                            </label>
                                        </div>
                                        {%endif%}
                                        {%endfor%}
                                    </div>
                                    <div class="modal-footer">	 
                                        <button type="button" class="btn btn-primary" onclick="cls()">全部清除</button>
                                        <button type="button" class="btn btn-primary" onclick="s_all()">全选</button>
                                        <button type="submit" class="btn btn-primary" name="submit2">
                                            提交
                                        </button> 
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            关闭
                                        </button>
                                    </div>
                                
                                </div>
                            </div>
                        </form>
                    </div>
                    {%if current_user.role.role=="teacher"%}{%if i.job_submission.filter(job_submission.submit_time !=None).all()|length!=0%}<a href="/job/job_assessment/{{i.id}}"><input type="button"  class="btn-group-sm btn-primary"  value="评价" ></a>{%endif%}{%endif%}
                            {%if i.job_submission.filter(job_submission.submit_time !=None).all()|length==0%}<button  class="btn-group-sm btn-primary" onclick="del({{i.id}})" >删除</button>{%endif%}
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        {%else%}

        {%endif%}
    </div>
</div>
<script>
function cls(){
    var stu=document.getElementsByName("stu");
    for(var i=0;i<stu.length;i++){
        stu[i].checked=false;
    }
    };
//以下是ajax异步传输数据
function del(id){
    var data={"del":id};
    var csrf_token="{{csrf_token()}}";
    $.ajax({
            url: "/job/del/",    // 提交到controller的url路径 
            headers:{"X-CSRFToken":csrf_token},             //提交给flask后台必须有csrf认证
            type: "POST",    // 提交方式
            contentType: 'application/json; charset=UTF-8', //提交数据类型
            data: JSON.stringify(data),  // data为String类型，必须为 Key/Value 格式。
            dataType: "json",    // 服务器端返回的数据类型
            success: function (data) {    // 请求成功后的回调函数，其中的参数data为controller返回的map,也就是说,@ResponseBody将返回的map转化为JSON格式的数据，然后通过data这个参数取JSON数据中的值
                if (data) {    
                    //跳转到系统首页
                    alert(data)
                    var btn=document.getElementById("modal-"+id)
                    btn.parentNode.parentNode.remove()    //删除节点
                } else {
                    alert("删除作业失败")
                }
            },
        });
}    

function s_all(){

    var stu=document.getElementsByName("stu");
    for(var i=0;i<stu.length;i++){
        stu[i].checked=true;
    }
    };

</script>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
          {% for message in messages %}
          <script>
                  alert("{{message}}")
            </script>
          {% endfor %}
    {% endif %}
 {% endwith %}               
        
{%endblock%}


