{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_field %}
{%block title%}
<TITLE>作业</TITLE>
{%endblock%}
{% block main%}
<div class="container-fluid">
<div class="col-md-12">
	<div class="row">
		<div class="col-md-4">
			<div class="card">
				<img class="card-img-top" alt="Bootstrap Thumbnail First" src="https://www.layoutit.com/img/people-q-c-600-200-1.jpg" />
				<div class="card-block">
					<h5 class="card-title">
						发布作业
					</h5>
					<p class="card-text">
						发布作业，填写作业标题，截至时间等作业信息，并生成相应答题卡
					</p>
					<p>
						<button type="button" onclick="document.location = '/job/genarate_paper'" class="btn btn btn-primary">发布</button></a>
							
							</p>
						    </div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<img class="card-img-top" alt="Bootstrap Thumbnail Second" src="https://www.layoutit.com/img/city-q-c-600-200-1.jpg" />
						<div class="card-block">
							<h5 class="card-title">
								任教学科成绩查询
							</h5>
							<p class="card-text">
                                所任教学科的成绩查询
							</p>
							<p>
								<a class="btn btn-primary" href="#">成绩查询</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card">
						<img class="card-img-top" alt="Bootstrap Thumbnail Third" src="https://www.layoutit.com/img/sports-q-c-600-200-1.jpg" />
						<div class="card-block">
							<h5 class="card-title">
								任教班级成绩查询
							</h5>
							<p class="card-text">
                                查询班级成绩
							</p>
							<p>
								<a class="btn btn-primary" href="#"><i class="fa fa-bicycle"></i>Action</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
{% with messages = get_flashed_messages() %}
    {% if messages %}
          {% for message in messages %}
          <div class="alert alert-dismissable alert-danger" id="message">
				 
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
								×
							</button>
							<h4>
								警告
							</h4> <strong>作业已过截止日期不能提交</strong> 
		</div>
          {% endfor %}
    {% endif %}
 {% endwith %}    
{%if current_user.role.permissions>0%}

<div class="row container-fluid">
    <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            序号
                        </th>
                        <th>
                            作业名称
                        </th>
                        <th>
                            学科
                        </th>                    
                        <th>
                            发布时间
                        </th>
                        <th>
                            上交截止时间
                        </th>
                        
                        <th>
                            发布者
                        </th>
                        <th>
                            责任教师
                        </th>
                        <th>
                            上传答卷
                        </th>
                        <th>
                            答卷份数
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {%for i in jobs%}
                    <tr>
                        <td>{{ loop.index + pagination.skip }}</td>
                        <td>{{i.job_name}}</td>
                        <td>{{i.subject}}</td>                        
                        <td>{{i.publish_time}}</td>
                        <td>{{i.deadline}}</td>
                        <td>{{i.user.realname}}</td>
                        <td>{{i.teacher.user_info.realname}}</td>
                        <td> <div class="input-group">
                            <input type="file" class="form-control" id="inputGroupFile{{i.id}}" aria-describedby="inputGroupFileAddon04" aria-label="Upload" multiple accept=".png,.jpg,.bmp">
                            <button class="btn btn-outline-primary" type="button" id="inputGroupFileAddon04" onclick="upload_paper({{i.id}})">上传</button>
                            </div>
                        </td>
                        <td id="c-{{i.id}}">{{count[i.id]}}</td>	
                        <td>
                           <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">                               
                                <button type="button" class="btn btn-secondary">设置选择题</button>
                                <button type="button" class="btn btn-secondary" onclick="window.location.href='{{i.paper_url}}'">查看答题卷</button>
                                <button type="button" class="btn btn-secondary" onclick="judge({{i.id}})">开始阅卷</button>
                            </div>  
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        {{ pagination.links }}
    </div>
</div>

<script>

    function anti(){
        var stu=document.getElementsByName("stu");
        for(var i=0;i<stu.length;i++){
            stu[i].checked=!stu[i].checked;
        }
        };

    function cls(){
        var stu=document.getElementsByName("stu");
        for(var i=0;i<stu.length;i++){
            stu[i].checked=false;
        };
        };
    function upload_paper(id){
        var file=document.getElementById("inputGroupFile"+String(id));
        var formData =new FormData();
        var files = file.files;
        for(var i=0; i<files.length; i++){
            formData.append('files',files[i]);
        }
        var csrf_token="{{csrf_token()}}";
        $.ajax({
                url: "/job/upload/"+String(id),    // 提交到controller的url路径 
                headers:{"X-CSRFToken":csrf_token},             //提交给flask后台必须有csrf认证
                type: "POST",    // 提交方式               
                data: formData,  // data为String类型，必须为 Key/Value 格式。
                dataType: "json",    // 服务器端返回的数据类型
                cache: false,//上传文件无需缓存
                processData: false,//用于对data参数进行序列化处理 这里必须false
                contentType: false, //必须
                success: function (data) {    // 请求成功后的回调函数，其中的参数data为controller返回的map,也就是说,@ResponseBody将返回的map转化为JSON格式的数据，然后通过data这个参数取JSON数据中的值
                    if (data) {    
                        //跳转到系统首页
                       alert(data[0]+"个文件上传成功")
                       file.value=""
                       var counttag=document.getElementById("c-"+String(id))
                       counttag.innerHTML=data[1]
                    } else {
                        console.log(data)
                        alert("上传失败")
                    }
                },
            });
    }
    //以下是ajax异步传输数据
    function del(id){
        var data={"del":id};
        var csrf_token="{{csrf_token()}}";
        $.ajax({
                url: "/job/del/",    // 提交到controller的url路径 
                headers:{"X-CSRFToken":csrf_token},             //提交给flask后台必须有csrf认证
                type: "POST",    // 提交方式
                contentType: 'application/json; charset=UTF-8', //提交数据类型
                data: JSON.stringify(data),  // data为String类型，必须为 Key/Value 格式。
                dataType: "json",    // 服务器端返回的数据类型
                success: function (data) {    // 请求成功后的回调函数，其中的参数data为controller返回的map,也就是说,@ResponseBody将返回的map转化为JSON格式的数据，然后通过data这个参数取JSON数据中的值
                    if (data) {    
                        //跳转到系统首页
                        alert(data)
                        
                        window.location.replace({{url_for('job.job_mg')}});
                    } else {
                        alert("删除作业失败")
                    }
                },
            });
    };    

    function judge(id){
        var data={"judge":id};
        var csrf_token="{{csrf_token()}}";
        $.ajax({
                url: "/job/judge/"+String(id),    // 提交到controller的url路径 
                headers:{"X-CSRFToken":csrf_token},             //提交给flask后台必须有csrf认证
                type: "POST",    // 提交方式
                contentType: 'application/json; charset=UTF-8', //提交数据类型
                data: JSON.stringify(data),  // data为String类型，必须为 Key/Value 格式。
                dataType: "json",    // 服务器端返回的数据类型
                success: function (data) {    // 请求成功后的回调函数，其中的参数data为controller返回的map,也就是说,@ResponseBody将返回的map转化为JSON格式的数据，然后通过data这个参数取JSON数据中的值
                    if (data) {    
                        //跳转到系统首页
                        alert(data+"份试卷已阅")    
                    } else {
                        alert("阅卷失败")
                    }
                },
            });
    };
    
    function s_all(){
        var stu=document.getElementsByName("stu");
        for(var i=0;i<stu.length;i++){
            stu[i].checked=true;
        };
        };


</script>
<script type="text/javascript" src="/static/build/js/jquery.min.js"></script>
               


{%endif%}        
{%endblock%}




