{% extends "base.html" %}
{%block main%}
<div class="container-fluid">

        <div class="row">
        <!-- 第一个区域 -->
         <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col "><h6 style="color:#9e9e9e">应交作业数：</h6><h4><strong>100</strong></h4></div>
                        <div class="col text-danger"><h6>未交作业数：</h6><h4><strong>98</strong></h4></p></div>   
                    </div>
                    <p class="card-text">完成率：<div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 98%;" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
                    </div></p>
                </div>
            </div>
        </div>
        <!-- 第二个区域 -->
        <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col"><h6 style="color:#9e9e9e">最高正确率：</h6><h4><strong>100</strong></h4></div>
                        <div class="col"><h6 style="color:#9e9e9e">最低正确率：</h6><h4><strong>98</strong></h4></p></div>
                    </div>
                    
                    <p class="card-text">平均正确率：<div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 98%;" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">98%</div>
                    </div></p>
                    
                </div>
            </div>
        </div>

        <!-- 第三个区域 -->
         <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col "><h6 style="color:#9e9e9e">客观题得分率：</h6><h4><strong>100</strong></h4></div>
                        <div class="col"><h6 style="color:#9e9e9e">主观题得分率：</h6><h4 ><strong>98</strong></h4></p></div>                       
                    </div>
                </div>
            </div>
        </div>         
    </div>
    <br>
    <!-- 第二行 -->
     <div class="row"> 
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                    <div class="col "><h6 style="color:#9e9e9e">不同难度正确率：</h6></div>
                        
                    </div>
                    
                   
                    
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col"><h6 style="color:#9e9e9e">近期作业情况：</h6></div>
                        
                    </div>
                    
                   
                    
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}