{% extends "base.html" %}
{%block title%}
<title>基本组织架构设</title>
{%endblock%}
{%block title1%}<h3>数据中心：<small>基本组织架构设</small></h3>{%endblock%}</span>
{%block main%}
{% from 'bootstrap/form.html' import render_form %}
<div class="row">
		<div class="col-md-12">
						<div class="alert alert-dismissable alert-danger">
				 
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">
								×
							</button>
							<h4>
								警告
							</h4> <strong>警告：</strong> 本页的操作将改变学校的基本组织结构，数据中心现有的数据将被重置，该过程不可回复！未经授权破坏数据是严重的违法行为，请确认是否要进行下一步操作或 <a href="/index" class="alert-link">返回首页</a>
						</div>
						<p>
							<div id="card-269540">
								{%for i in g%}
									<div class="card">
										<div class="card-header">
											<a class="card-link" data-toggle="collapse" data-parent="#card-269540" href="#card-element-{{i.id}}">{{i.grade_name}}</a>
										</div>
										<div id="card-element-{{i.id}}" class="collapse">
											<div class="card-body">
												<table class="table">
													<thead>
														<tr>
															<th>
																序号
															</th>
															<th>
																班级
															</th>
															<th>
																班主任
															</th>
															<th>
																人数
															</th>
														</tr>
													</thead>
													<tbody>
														{%for j in c%}
														{%if j.grade_id==i.id%}
														<tr>
															<td>
																{{loop.index}}
															</td>
															<td>
																{{j.class_name}}
															</td>
															<td>																
																{%if j.class_master%}{{j.teacher.user_info.realname}}{%endif%}
															</td>
															<td>			
																{{j.student|length}}
															</td>
														</tr>		
														{%endif%}
														{%endfor%}
													</tbody>
												</table>
											</div>
										</div>
									</div>
								{%endfor%}
							</div>
							<div class="col-md-12">
								 <a id="modal-806292" href="#modal-container-806292" role="button" class="btn btn-primary" data-toggle="modal">初始化</a>
								
								<div class="modal fade" id="modal-container-806292" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="myModalLabel">
													组织结构设置
												</h5> 
												<button type="button" class="close" data-dismiss="modal">
													<span aria-hidden="true">×</span>
												</button>
											</div>
											<div class="modal-body">	
												{{render_form(school)}}
												{% from 'bootstrap/utils.html' import render_messages %}
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-dismiss="modal">
													关闭
												</button>
											</div>
										</div>
										
									</div>
									
								</div>
			
							</div>
						
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
{{render_messages()}}                        
{%endblock%}
